/*slider*/
.slider-container {
    display: flex;
    width: 960px;
    height: auto;
    margin: 0px auto;
    overflow: hidden;
    margin-bottom: 100px;
}

.slider {
    display: flex;
    width: auto;
}

.slide {
    padding: 10px;
    text-align: center;
    display: flex;
}

.btn_package{
    margin: auto 15%;
    width: 70%;
    background-color: rgb(248,160,73);
    border-radius: 20px;
    color: rgb(238, 226, 206);
    border: none;
    padding: 5px;
    outline: none;
    text-align: center;
    transition: background-color, font-size 0.2s linear;
}

#nacionales .btn_package{
    background-color: rgb(6, 129, 145);
}

.btn_package:hover{
    background-color: rgb(6, 129, 145);    
    font-size: 1.3rem;
    cursor: pointer;
}

#nacionales .btn_package:hover{
    background-color: rgb(248,160,73);
}

.card{
    width: auto;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(155,207,205);
    padding: 10px;
    border-style: none;
}

.card img{
    border-radius: 20px;
    width: 200px;
    height: auto;
}

.sectionSlides{
    position: relative;
}

.btn_slides{
    position: absolute;
    height: 100%;
    width: 80%;
    justify-content: space-between;
    margin: 0px 10%;
    align-content: center;
    display: flex;
}

.prev, .next {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 3rem;
    color: rgb(248,160,73);
    transition: color, font-size 0.1s linear;
}

.prev:hover, .next:hover{
    color: rgb(6, 129, 145);
    font-size: 3.5rem;
    background-color: rgba(0, 0, 0, 0);
}

.prev:focus, .next:focus {
    outline: none;
}
/**/

/* modal */
#modalPackageContainer{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    display: none;
    animation: displayModal 0.5s;
}

#modalPackageContainer.open {
    opacity: 1;
    transform: translateY(0);
}

#modalPackageContainer.closing {
    opacity: 0;
    transform: translateY(-100%);
}

#modalPackage{
    background-color: rgba(255, 255, 255, 0.884);
    border-bottom-right-radius: 15px;
    width: 40%;
    height: 100%;
}

#modalPackage img{
    object-fit: cover;
    width: 100%;
    height: 40%;
}

#modalPackage h2{
    margin: 0px;
}

#modalContent{
    width: 40%;
    height: auto;
    top: 10%;
    bottom: 0%;
    padding-top: 13%;
    position: absolute;
    text-align: center;
    background: linear-gradient(to top, rgb(255, 255, 255) 70%, rgb(255, 255, 255, 0.8) 80%, rgb(255, 255, 25, 0) 100%);
    border-bottom-right-radius: 15px;
}

#textPackage{
    overflow-y: auto;
    margin: 0% 5%;
    width: 90%;
    height: 45%;
    text-align: center;
}

#btn_cerrarModalPackage{
    position: absolute;
    margin: 5px;
    background-color: rgb(0, 0, 0, 0);
    font-size: 2rem;
    color: rgb(248,160,73);
    transition: all 0.1s linear;
}

#btn_cerrarModalPackage:hover{
    font-size: 2.2rem;
    color: rgb(6, 129, 145);
}

#btn_cerrarModalPackage:focus{
    outline: none;
}

#requerestPackage{
    width: 100%;
    align-content: center;
    height: auto;
    margin-top: 50px;
}

#requerestPackage a{
    background-color: rgb(248,160,73);
    color: rgb(238, 226, 206);
    padding: 10px;
    border-radius: 20px;
    transition: background-color,border-radius,font-size 0.1s linear;
}

#requerestPackage a:hover{
    background-color: rgb(6, 129, 145);
    border-radius: 10px;
    font-size: 1.1rem;
}

/* media */
@media (min-width: 320px) and (max-width: 720px) {
    #modalPackage{
        width: 90%;
    }

    #modalContent{
        width: 90%;
        padding-top: 150px;
    }
}

@media (min-width: 721px) and (max-width: 1024px) {
    #modalPackage{
        width: 60%;
    }

    #modalContent{
        width: 60%;
        padding-top: 150px;
    }
}
/**/
/**/