/* telefonos */
@media (min-width: 320px) and (max-width: 767px) {
    /* general */
    body{
        font-size: 0.9rem;
    }

    h2{
        font-size: 1.6rem;
    }
    /**/

    /* header */
    .logo{
        display: none;
    }

    .logoMobile{
        display: block;
        width: 100px;
        padding: 10px;
    }
    
    header{
        justify-content: space-between;
        padding-right: 10px;
    }

    #burger{
        display: block;
        z-index: 2;
        right: 0%;
    }

    #closeNavBar{
        position: absolute;
        margin: 20px;
        font-size: 1.5rem;
        outline: none;
        background-color: rgba(0, 0, 0, 0);
        z-index: 1000;
    }

    #headerBar{
        display: none;
    }

    #headerBarMobile{
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        height: 50%;
        z-index: 2;
        border-bottom-left-radius: 15px;
    }

    #headerBarMobile.openNavBar{
        display: grid;
        animation: translate 0.5s;
    }

    @keyframes translate {
        0%{
            transform: translateX(100%);
        }
    
        100%{
            transform: translateX(0%);
        }
        
    }

    #headerBarMobile #sesion_contenedor{
        position: absolute;
        bottom: 2%;
        right: 25%;
        width: 50%;
    }

    .navbarMobile{
        text-align: center;
        font-size: 1.5rem;
        display: grid;
        inline-size: max-content;
        gap: 2%;
        margin: auto;
        height: 100%;
        align-content: center;
    }

    #headerBarMobile a{
        color: rgb(238, 226, 206);
    }
    /**/

    /* index */
    #formIndex{
        width: 90%;
        left: 50%;
        top: 40%;
        height: 480px;
        padding-top: 20px;
    }

    #bannerForm{
        height: 680px;
    }

    .pasajerosO{
        display: none;
    }

    .pasajeros{
        display: grid;
        width: 100%;
        padding: 0px 20%;
    }

    .pasajeros div{
        justify-content: space-between;
        display: flex;
        text-align: center;
    }
    
    #formIndex .pasajeros input{
        width: 20%; 
    }

    #ida, #vuelta{
        width: 35%;
    }

    #destino, #origen{
        width: 40%;
        margin-left: 20px;
    }

    .fechasNormal{
        display: none;
    }

    .contenedorFecha{
        display: block;
    }

    #navIndex{
        width: 90%;
        height: 100%;
        padding-bottom: 10px;
    }

    #navIndex nav{
        display: grid;
        text-align: center;
        font-size: 1.3rem;
    }

    /**/

    /* footer */
    .footer_contenedor{
        display: grid;
    }

    #contacto ul{
        display: grid;
    }

    .navFooter{
        margin-left: 20px;
        left: 0px;
        margin-bottom: 20px;
    }

    /**/
}


/* tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    /* header */
    header{
        justify-content: space-between;
        padding-right: 10px;
    }
    
    #burger{
        display: block;
        z-index: 2;
        right: 0%;
    }

    #closeNavBar{
        position: absolute;
        margin: 20px;
        font-size: 1.5rem;
        outline: none;
        background-color: rgba(0, 0, 0, 0);
        z-index: 1000;
    }

    #headerBar{
        display: none;
    }

    #headerBarMobile{
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        height: 50%;
        z-index: 2;
        border-bottom-left-radius: 15px;
    }

    #headerBarMobile.openNavBar{
        display: grid;
        animation: translate 0.5s;
    }

    @keyframes translate {
        0%{
            transform: translateX(100%);
        }
    
        100%{
            transform: translateX(0%);
        }
        
    }

    #headerBarMobile #sesion_contenedor{
        position: absolute;
        bottom: 2%;
        right: 25%;
        width: 50%;
    }

    .navbarMobile{
        text-align: center;
        font-size: 1.5rem;
        display: grid;
        inline-size: max-content;
        gap: 2%;
        margin: auto;
        height: 100%;
        align-content: center;
    }

    #headerBarMobile a{
        color: rgb(238, 226, 206);
    }
    /**/

    /* index */
    #formIndex{
        width: 90%;
        left: 50%;
        top: 35%;
        height: 400px;
    }

    #navIndex{
        width: 90%;
    }

    /**/

    /* footer */
    .navFooter{
        left: 20%;
    }

    #contacto ul{
        display: grid;
    }
    /**/
}


/* escritorios pequeños y laptops */
@media (min-width: 1025px) and (max-width: 1324px) {
    /* general */
    body{
        font-size: 0.8rem;
    }
    /**/

    /* index */
    #formIndex{
        display: grid;
        padding: 2% 0px;
        height: auto;
    }

    #bannerForm {
        height: 600px;
    }

    #formIndex .campoForm{
        width: 100%;
    }

    .pasajeros{
        display: none;
    }

    .fechasNormal{
        display: none;
    }

    .contenedorFecha{
        display: block;
    }
    /**/
}


/* laptops pequeñas */
@media (min-width: 1325px) and (max-width: 1439px){
    /* general */
    body{
        font-size: 0.9rem;
    }
    /**/

    /* index */
    #formIndex{
        height: 400px;
    }
    /**/
}


/* pantallas mas grandes */
@media (min-width: 1920px) {
    /* header */
    #sesion_contenedor{
        width: 15%;
        margin-left: 85%;
    }

    #headerBar{
        width: 90%;
    }
    /**/

    /* index */
    #formIndex{
        width: 35%;
    }
    /**/
}