/*slider*/
.slider-container {
    /* position: relative;
    width: 100%;
    max-width: 960px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    display: flex; */
    width: 960px;
    height: auto;
    margin: 0px auto;
    overflow: hidden;
    margin-bottom: 100px;

}

.slider {
    /* display: flex;
    transition: transform 0.5s ease-in-out;
    width: auto; */
    display: flex;
    width: auto;
}

.slide {
    /* min-width: auto;
    width: auto;
    padding-right: 20px;
    box-sizing: border-box;
    font-size: 2rem;
    */
    padding: 10px;
    text-align: center;
    display: flex; 
}

.card{
    width: auto;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(155,207,205);
    padding: 10px;
    border-style: none;
}

.card img{
    border-radius: 20px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 3rem;
    color: rgb(248,160,73);
    transition: color, font-size 0.1s linear;
}

.prev:hover, .next:hover{
    color: rgb(6, 129, 145);
    font-size: 3.5rem;
    background-color: rgba(0, 0, 0, 0);
}

.prev:focus, .next:focus {
    outline: none;
}
  
button.prev {
    left: 10px;
}
  
button.next {
    right: 10px;
}
/**/