/* GENERAL */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: 'myFonts';
    src: url('fonts/Brand.otf') format('otf'),
         url('fonts/Brand.ttf') format('ttf'),
         url('fonts/Brand.woff') format('woff'),
         url('fonts/GOTHIC.TTF') format('TTF'),
         url('fonts/GOTHICB.TTF') format('TTF'),
         url('fonts/GOTHICBI.TTF') format('TTF'),
         url('fonts/GOTHICI.TTF') format('TTF');
    font-weight: normal;
    font-style: normal;
  }

body{
    background-color: rgba(238, 226, 206, 0.10);
    font-family: 'myFonts', sans-serif;
    font-size: 1rem;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

h2, h3{
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    color: rgb(248,160,73);
}
/**/


/*HEADER*/
header{
    display: flex;
    align-content: center;
    width: 100%;
    padding-top: 5px;
    height: 100px;
}

#headerBar{
    width: 80%;
    display: flex;
}

.navbar{
    width: 90%;
    display: flex;
    padding-left: 50%;
}

.navbar a{
    color: rgb(6,129,145);
}

.navbar a:hover{
    color: rgb(248,160,73);
}

#sesion_contenedor{
    display: grid;
    width: 20%;
    align-content: center;
    padding: 2%;
    gap: 10%;
}

#sesion_contenedor a{
    border-radius: 20px;
    background-color: rgb(6,129,145);
    color: rgb(238,226,206);
    padding: 3px;
    text-align: center;
    align-content: center;
}

#sesion_contenedor a:hover{
    background-color: rgb(248,160,73);
    height: 50px;
    font-size: 1.3rem;
}
/**/


/*INDEX*/
#bannerForm{
    position: relative;
    width: 100%;
    height: 650px;
}

#bannerForm img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#formIndex {
    position: absolute;
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.884);
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 45%;
    height: 450px;
}

#formIndex input{
    border-style: solid;
    border-color: rgba(0,0,0,0.1);
    border-radius: 10px;
}

#formIndex input:hover, .choices__inner:hover{
    background-color: rgb(248, 160, 73);
}

#formIndex legend{
    text-align: center;
}

.campoForm {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.select label{
    width: 10%;
}

.select{
    display: flex;
    align-items: flex-end;
    gap: 2%;
}

.choices{
    width: 80%;
    margin-left: 3%;
}

#adultos, #ninios, #mascotas{
    width: 8%;
    margin-right: 3%;
    text-align: center;
}

#ida, #vuelta{
    width: 23%;
    margin-right: 2%;
}

.botoneraForm{
    text-align: center;
    padding: 2%;
    align-content: center;
}

#formIndex .botoneraForm input{
    border-radius: 30px;
    padding: 10px;
    border-color: rgb(248, 160, 73);
    background-color: rgb(248, 160, 73, 0.5);
}

#formIndex .botoneraForm input:hover{
    background-color: rgb(6,129,145);
    border-color: rgba(0, 0, 0, 0);
}

/* input number sin botones */
/* opera, chrome, safari y edge */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

/* firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
/**/

#navIndex{
    margin: 0% auto 3% auto;
    width: 60%;
    background-color: rgb(238,226,206);
    background-color: rgb(248,160,73);
    height: 50px;
    align-content: center;
    border-radius: 30px;
}

#navIndex nav{
    display: flex;
    gap: 2%;
    width: auto;
    justify-content: space-around;
}

#navIndex nav a{
    color: rgb(238,226,206);
    font-weight: bold;
    padding: 15px;
}

#navIndex nav a:hover{
    color: rgb(6,129,145);
    font-size: 1.3rem;
}

.bannerIndex{
    width: 100%;
    height: 700px;
    margin: 50px auto
}

.bannerIndex img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cruceros{
    margin-top: 10px;
}
/**/

/*slider*/
.slider-container {
    position: relative;
    width: auto;
    max-width: 960px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    display: flex;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: auto;
}

.slide {
    min-width: auto;
    width: auto;
    padding-right: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
    display: flex;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 3rem;
    color: rgb(248,160,73);
}

.prev:hover, .next:hover{
    color: rgb(6, 129, 145);
    font-size: 3.5rem;
}

.prev:focus, .next:focus {
    outline: none;
}
  
button.prev {
    left: 10px;
}
  
button.next {
    right: 10px;
}

.card{
    width: auto;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(155,207,205);
    padding: 10px;
    border-style: none;
}

.card img{
    border-radius: 20px;
}
/**/


/* LOGIN */
.formSesion{
    position: absolute;
    border-radius: 30px;
    overflow: hidden;
    top: 25%;
    left: 25%;
    width: 50%;
    border-style: solid;
    border-color: rgb(248, 160, 73);
}

.formSesion img{
    width: 100%;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.formSesion fieldset{
    padding: 20px;
    display: grid;
    gap: 2%;
}

.formSesion .campoForm{
    width: 50%;
    margin: auto 25%;
    display: grid;
    text-align: center;
    align-content: center;
}

.formSesion #iniciarSesion{
    margin: auto 40%;
    width: 20%;
    padding: 5px;
    border-radius: 30px;
}

.formSesion a{
    position: absolute;
    font-size: 1.5rem;
    margin: 2%;
    text-align: center;
    color: rgb(6, 129, 145);
}

.formSesion a:hover{
    color: rgb(248, 160, 73);
}

.formSesion input{
    border: rgb(248, 160, 73) solid;
    border-radius: 15px;
    text-align: center;
}

.formSesion input:hover{
    background-color: rgb(248, 160, 73);
}

/**/


/*FOOTER*/
footer{
    background: rgb(6,129,145);
    margin-top: 20%;
    bottom: 0%;
    color: rgb(238, 226, 206);
}

footer a{
    color: rgb(238, 226, 206);
}

footer a:hover{
    color: rgb(248, 160, 73);
}

footer h4,h5{
    color: rgb(248, 160, 73);
}

.footer_contenedor{
    display: flex;
    width: 100%;
}

.navFooter{
    align-content: center;
    left:30%;
    position: relative;
}

#contacto{
    position: relative;
    width: 55%;
    padding: 20px;
}

#contacto ul{
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

.redesFooter{
    width: 100%;
    margin-bottom: 25px;
}

.redesFooter div{
    width: auto;
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}
/**/

